*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
text.txt
*.sqlite3
/db/*.sqlite3
envir/
views Helper.txt
site helper.txt
real user.py
Permissions Helper.txt
Render.png
email_test.py
garbage/
utils/